<div class="col-xs-12">
  <h4 class="text-center">Sign In</h4>
</div>


<div class="col-sm-8 col-sm-offset-2 col-xs-offset-12 col-xs-offset-0 text-center">
  <div class="row margin-bottom-2-percent signup-methods">
    <button type="button" class="btn btn-info btn-large fui-facebook facebook"
            data-ng-click="facebookLogin()">
      Sign In with Facebook
    </button>
    <!--<span class="hidden-xs">|</span>-->
    <!--<button type="button" class="btn btn-inverse btn-large fui-mail"-->
            <!--ng-click="toggleEmailLoginForm()">-->
      <!--Sign Up with Email-->

    <!--</button>-->
  </div>

  <form class="well" ng-show="emailLoginForm" novalidate name="volunteerSignUpForm" id="volunteerSignUpForm"
        ng-submit="submitForm(volunteerSignUpForm.$valid)">

    <fieldset>
      <div class="row">

        <div class="col-xs-12 text-left">
          <div class="input-container">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name" placeholder="Jane" name="firstName" ng-model="volunteerUser.firstName"
                   required
                   ng-required="true"
                   ng-minlength="2">
            <i class="fui-check validation-check" ng-show="volunteerSignUpForm.firstName.$valid"></i>

          </div>

          <div class="input-container">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name" placeholder="Fonda" name="lastName"
                   ng-model="volunteerUser.lastName" required ng-minlength="2">
            <i class="fui-check validation-check" ng-show="volunteerSignUpForm.lastName.$valid"></i>
          </div>

          <div class="input-container">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" g-places-autocomplete name="location"
                   ng-model="volunteerUser.location" ng-minlength="2" placeholder="San Francisco, CA" required >
            <i class="fui-check validation-check" ng-show="volunteerSignUpForm.location.$valid"></i>
          </div>

          <div class="input-container">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="jane@fonda.com"
                   ng-model="volunteerUser.email"
                   required>
            <i class="fui-check validation-check" ng-show="volunteerSignUpForm.email.$valid"></i>
          </div>

          <div class="input-container">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password"
                   placeholder="At least six characters..."
                   ng-model="volunteerUser.password"
                   required
                   ng-minlength="6">
            <i class="fui-check validation-check" ng-show="volunteerSignUpForm.password.$valid"></i>
          </div>

        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary margin-top-2-5-percent"
                  ng-click="volunteerSignUp()"
                  ng-disabled="volunteerSignUpForm.$invalid">
            Sign Up
          </button>
        </div>
      </div>

    </fieldset>

  </form>





</div>